/***********General************/
a{
    text-decoration: none;
}
h2 a{
    font-size: 1em;
}
body{
    font-family: 'Roboto Slab', serif;
}
#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img{
    max-width: 100%;
}
h3{
    margin: 0 0 1em 0;
}
h1{
    max-height: 450px;
    max-width: 450px;
    margin-top: 5%;
    margin-left: 9%;
}
/********Navigation***********/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}
nav li{
    display: inline-block;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
}
/**********Footer*************/
footer{
    font-size: 1em;
    text-align: center;
    padding-top: 50px;
    clear: both;
}
.social-media-icon{
    width: 70px;
    height: auto;
    margin: 0 5px;
}
/**********Color**************/
body{
    background-color: #D68330;
}
/*body{
    background-color: white;
}*/
a{
    color: #CC6600;
}
header{
    background: #CC6600;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
h1,h2 {
    color: white;
}
nav{
    background: #A35200;
}
nav a, nav a:visited{
    color: white;
}
nav a.selected, nav a:hover{
    color: #673300;
}
/*********Media Querie********/
/*two column layout */
@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;
    }
    #secondary{
        width: 40%;
        float: right;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*about page*/
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }
}
@media screen and (min-width: 660px){
    /*nav*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width:45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1em;
        margin-bottom: 20px;
        padding-bottom: 20px
    }
}
/*******Page Portfolio********/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}
#gallery li{
    float: left;
    width: 28.333%;
    margin:2.5%;
    background-color: lightgrey;
    color: black;
}
#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: .9em;
    color: black;
}
/********About Me Portflio*****/
.Profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}
/***********Header************/
#logo{
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75em;
}
h2{
    font-size: 1em;
    margin: -5px 0 0;
    font-weight: normal;
}
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
/*****Contact Page************/
.contact-info li.mail a{
    background-image: url('../img/mail.png');
    color: white;
    text-decoration: underline;
}
.contact-info li.kik a{
    background-image: url('../img/kik-logo.png');
    color: white;
    text-decoration: underline;
}
.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}
/********Carousel**********/
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}